#map {
    height: 80vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 1000;
}

#search-results, #recommend-results {
    background-color: rgba(255, 255, 255, 0.5);
    max-height: 300px;
    overflow-y: scroll;
}

.result {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.result:hover {
    font-weight: bold;
}

.title {
    background-color: yellow;
}

.tabs {
    margin-bottom: 10px;
}

.tab-tbn {
    padding: 5px 10px;
    cursor: pointer;
}

/* all elements with the class .tab-btn AND active */
.tab-btn.active {
    background-color: #333;
    color: white;
}

/* by default, if an element only have tab-content class, we hide it */
.tab-content {
    display: none;
}

/* for elements with both the tab-content and active class, we will display */
.tab-content.active {
    display: block;
}